<div class="d-flex">

  <!-- SIDEBAR -->
  <div id="sidebar"
    class="bg-dark border-right p-3">
    <h3 class="text-light">GifsApp</h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a href="#"
        class="list-group-item list-group-item-action">Dashboard</a>

    </div>
  </div>
  <!-- FIN SIDEBAR -->

  <!-- CONTENT -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text"
          class="form-control"
          placeholder="Search GIFs">
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quam inventore sequi id, suscipit ipsa numquam, modi exercitationem a nostrum aliquam ullam molestiae praesentium maiores! Corrupti eaque sint placeat sed, earum repudiandae consequuntur quae maxime a! Nulla, veniam laudantium ad aperiam consectetur, id dignissimos iure autem, deserunt accusantium incidunt facere?</div>
    </div>
  </div>

  <!-- END CONTENT -->



</div>
