<h2>By Country</h2>
<hr />

<div class="row">
  <div class="col">
    <app-country-input (onEnter)="searchCountry($event)" (onDebounce)="suggestions($event)" placeholder="Search Country..."></app-country-input>
  </div>
</div>

<hr />

<div *ngIf="this.hasError" class="alert alert-danger">
  Nothing found for <strong>{{search}}</strong>
</div>

<div *ngIf="this.countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
