<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By Country</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-country-input (onEnter)="searchCountry($event)" (onDebounce)="suggestions($event)" placeholder="Search Country..."></app-country-input>
    </div>
  </div>


  <ul *ngIf="showSuggested" class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let country of suggestedCountries">
      <a class="nav-link" [routerLink]="['/country', country.alpha2Code]">{{ country.name }}</a>
    </li>
    <li class="list-group-item list-group-item-action" *ngFor="let country of suggestedCountries">
      <a class="nav-link" (click)="searchSuggestedCountry(search)">
        Search {{ country.name }}
      </a>
    </li>
  </ul>

  <hr />

</div>

<div *ngIf="this.hasError" class="alert alert-danger">
  Nothing found for <strong>{{search}}</strong>
</div>

<div *ngIf="this.countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
